html {
    height: 100%;
    width: 100%;
    background-color: #D5FFBC;           
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

body {
    height: 100%;
    width: 100%; 
    display: flex;     
    justify-content: center;
    align-content: center;
    align-items: center;
    
}

#container {
    background-color: #BBDDA6;
    width: fit-content;
    padding: 15px;
    
    
}

#amount, #currency, button {
    border: 0;  
    border-radius: 2px;  
    border-color: #D5FFBC;
    height: 35px;
    text-align: center;  
    background-color: #D5F3BC;
}